# SQLite ile SQL Denemeleri

In [2]:
%%!
pip install --trusted-host pypi.org ipython-sql

['Requirement already satisfied: ipython-sql in c:\\users\\aycan\\anaconda3\\lib\\site-packages (0.5.0)',
 'Requirement already satisfied: prettytable in c:\\users\\aycan\\anaconda3\\lib\\site-packages (from ipython-sql) (3.10.2)',
 'Requirement already satisfied: ipython in c:\\users\\aycan\\appdata\\roaming\\python\\python311\\site-packages (from ipython-sql) (8.17.2)',
 'Requirement already satisfied: sqlalchemy>=2.0 in c:\\users\\aycan\\anaconda3\\lib\\site-packages (from ipython-sql) (2.0.25)',
 'Requirement already satisfied: sqlparse in c:\\users\\aycan\\anaconda3\\lib\\site-packages (from ipython-sql) (0.5.1)',
 'Requirement already satisfied: six in c:\\users\\aycan\\anaconda3\\lib\\site-packages (from ipython-sql) (1.16.0)',
 'Requirement already satisfied: ipython-genutils in c:\\users\\aycan\\anaconda3\\lib\\site-packages (from ipython-sql) (0.2.0)',
 'Requirement already satisfied: typing-extensions>=4.6.0 in c:\\users\\aycan\\anaconda3\\lib\\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)',
 'Requirement already satisfied: greenlet!=0.4.17 in c:\\users\\aycan\\anaconda3\\lib\\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)',
 'Requirement already satisfied: decorator in c:\\users\\aycan\\appdata\\roaming\\python\\python311\\site-packages (from ipython->ipython-sql) (5.1.1)',
 'Requirement already satisfied: jedi>=0.16 in c:\\users\\aycan\\appdata\\roaming\\python\\python311\\site-packages (from ipython->ipython-sql) (0.19.1)',
 'Requirement already satisfied: matplotlib-inline in c:\\users\\aycan\\appdata\\roaming\\python\\python311\\site-packages (from ipython->ipython-sql) (0.1.6)',
 'Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\\users\\aycan\\appdata\\roaming\\python\\python311\\site-packages (from ipython->ipython-sql) (3.0.39)',
 'Requirement already satisfied: pygments>=2.4.0 in c:\\users\\aycan\\appdata\\roaming\\python\\python311\\site-packages (from ipython->ipython-sql) (2.16.1)',
 'Requirement already satisfied: stack-data in c:\\users\\aycan\\appdata\\roaming\\python\\python311\\site-packages (from ipython->ipython-sql) (0.6.3)',
 'Requirement already satisfied: traitlets>=5 in c:\\users\\aycan\\appdata\\roaming\\python\\python311\\site-packages (from ipython->ipython-sql) (5.12.0)',
 'Requirement already satisfied: colorama in c:\\users\\aycan\\appdata\\roaming\\python\\python311\\site-packages (from ipython->ipython-sql) (0.4.6)',
 'Requirement already satisfied: wcwidth in c:\\users\\aycan\\appdata\\roaming\\python\\python311\\site-packages (from prettytable->ipython-sql) (0.2.8)',
 'Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\\users\\aycan\\appdata\\roaming\\python\\python311\\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)',
 'Requirement already satisfied: executing>=1.2.0 in c:\\users\\aycan\\appdata\\roaming\\python\\python311\\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)',
 'Requirement already satisfied: asttokens>=2.1.0 in c:\\users\\aycan\\appdata\\roaming\\python\\python311\\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)',
 'Requirement already satisfied: pure-eval in c:\\users\\aycan\\appdata\\roaming\\python\\python311\\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)']

In [3]:
!pip install ipython-sql
%load_ext sql

Requirement already satisfied: ipython-sql in c:\users\aycan\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\aycan\anaconda3\lib\site-packages (from ipython-sql) (3.10.2)
Requirement already satisfied: ipython in c:\users\aycan\appdata\roaming\python\python311\site-packages (from ipython-sql) (8.17.2)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\aycan\anaconda3\lib\site-packages (from ipython-sql) (2.0.25)
Requirement already satisfied: sqlparse in c:\users\aycan\anaconda3\lib\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in c:\users\aycan\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\aycan\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\aycan\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\aycan\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\aycan\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\aycan\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\aycan\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\aycan\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in c:\users\aycan\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (2.16.1)
Requirement already satisfied: stack-data in c:\users\aycan\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in c:\users\aycan\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (5.12.0)
Requirement already satisfied: colorama in c:\users\aycan\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\aycan\appdata\roaming\python\python311\site-packages (from prettytable->ipython-sql) (0.2.8)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\aycan\appdata\roaming\python\python311\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\aycan\appdata\roaming\python\python311\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\aycan\appdata\roaming\python\python311\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\aycan\appdata\roaming\python\python311\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [4]:
%sql sqlite:///vbo.db

In [11]:
#%sql SELECT name FROM sqlite_master WHERE type='table';
#%sql SELECT *FROM Customers LIMIT 3;

 * sqlite:///vbo.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico')]

**Kaç müşteri var?**

In [13]:
%sql SELECT COUNT(customerID) FROM Orders;

 * sqlite:///vbo.db
Done.

[(196,)]

**Kaç eşsiz müşteri var?**

In [17]:
%sql SELECT COUNT (DISTINCT CustomerID) FROM Orders;

 * sqlite:///vbo.db
Done.

[(74,)]

**Hangi ülkeden kaçar tane müşteri var?**

In [21]:
%sql SELECT COUNT(CustomerID), Country FROM Customers GROUP BY Country

 * sqlite:///vbo.db
Done.

[(3, 'Argentina'),
 (2, 'Austria'),
 (2, 'Belgium'),
 (9, 'Brazil'),
 (3, 'Canada'),
 (2, 'Denmark'),
 (2, 'Finland'),
 (11, 'France'),
 (11, 'Germany'),
 (1, 'Ireland'),
 (3, 'Italy'),
 (5, 'Mexico'),
 (1, 'Norway'),
 (1, 'Poland'),
 (2, 'Portugal'),
 (5, 'Spain'),
 (2, 'Sweden'),
 (2, 'Switzerland'),
 (7, 'UK'),
 (13, 'USA'),
 (4, 'Venezuela')]

**Ülkesi UK veya USA olanlar:**

In [40]:
%sql select CustomerID, Country from Customers where Country in('USA','UK') ORDER BY  Country;

 * sqlite:///vbo.db
Done.

[(4, 'UK'),
 (11, 'UK'),
 (16, 'UK'),
 (19, 'UK'),
 (38, 'UK'),
 (53, 'UK'),
 (72, 'UK'),
 (32, 'USA'),
 (36, 'USA'),
 (43, 'USA'),
 (45, 'USA'),
 (48, 'USA'),
 (55, 'USA'),
 (65, 'USA'),
 (71, 'USA'),
 (75, 'USA'),
 (77, 'USA'),
 (78, 'USA'),
 (82, 'USA'),
 (89, 'USA')]

**Müşteri contact name 'inde "ana" ifadesi geçen kişilerin adresleri ve contact name'leri:**

In [48]:
%sql select Address,ContactName from Customers where ContactName like '%ana%'

 * sqlite:///vbo.db
Done.

[('Avda. de la Constitución 2222', 'Ana Trujillo'),
 ('Av. Inês de Castro, 414', 'Anabela Domingues')]

**Germany-Berlinde yaşayan müşterilerin isimleri:**

In [51]:
%sql select CustomerName, Country,City from Customers where Country in('Germany') and City in('Berlin')

 * sqlite:///vbo.db
Done.

[('Alfreds Futterkiste', 'Germany', 'Berlin')]

**Canada da yaşayıp isminin içinde 'in' geçenler:**

In [56]:
%sql select * from Customers where(( CustomerName like ('%in%'))and Country in('Canada') )

 * sqlite:///vbo.db
Done.

[(42, 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada')]

**Fiyatı 60 ile 50 TL arası olan ürünler:**

In [66]:
%sql select ProductName, Price from Products where Price<61 and Price>49

 * sqlite:///vbo.db
Done.

[('Manjimup Dried Apples', 53), ('Raclette Courdavault', 55)]

**Fiyatı 30 TL'den büyük olan ürünlerin isimlerini, fiyatlarını ve fiyatlarının karesini bulunuz ve tüm değişkenlerin isimlendirmelerini aşağıdaki şekilde yapınız:
urun ismi, urun_fiyati, ürün_fiyatinin_karesi**

In [71]:
%sql select ProductName as urun_ismi, Price as urun_fiyati,Price*Price as urun_fiyati_karesi from Products where Price>30

 * sqlite:///vbo.db
Done.

[('Northwoods Cranberry Sauce', 40, 1600),
 ('Mishi Kobe Niku', 97, 9409),
 ('Ikura', 31, 961),
 ('Queso Manchego La Pastora', 38, 1444),
 ('Genen Shouyu', 43, 1849),
 ('Alice Mutton', 39, 1521),
 ('Carnarvon Tigers', 62, 3844),
 ('Teatime Chocolate Biscuits', 43, 1849),
 ("Sir Rodney's Marmalade", 81, 6561),
 ('Guaraná Fantástica', 43, 1849),
 ('Gumbär Gummibärchen', 31, 961),
 ('Schoggi Schokolade', 43, 1849),
 ('Rössle Sauerkraut', 45, 2025),
 ('Thüringer Rostbratwurst', 123, 15129),
 ('Gorgonzola Telino', 435, 189225),
 ('Mascarpone Fabioli', 32, 1024),
 ('Geitost', 43, 1849),
 ('Côte de Blaye', 263, 69169),
 ('Boston Crab Meat', 43, 1849),
 ('Ipoh Coffee', 46, 2116),
 ('Røgede sild', 43, 1849),
 ('Zaanse koeken', 43, 1849),
 ('Manjimup Dried Apples', 53, 2809),
 ('Perth Pasties', 32, 1024),
 ('Gnocchi di nonna Alice', 38, 1444),
 ('Ravioli Angelo', 43, 1849),
 ('Raclette Courdavault', 55, 3025),
 ('Camembert Pierrot', 34, 1156),
 ("Sirop d'érable", 43, 1849),
 ('Tarte au sucre', 49, 2401),
 ('Vegie-spread', 43, 1849),
 ('Wimmers gute Semmelknödel', 33, 1089),
 ('Louisiana Fiery Hot Pepper Sauce', 43, 1849),
 ('Scottish Longbreads', 45, 2025),
 ('Gudbrandsdalsost', 36, 1296),
 ('Mozzarella di Giovanni', 34, 1156)]

**Products tablosundaki CategoryID’lerin yani kategorilerin isimleri nelerdir?**

In [88]:
%sql select Products.CategoryID,Categories.CategoryName from Products left join Categories on Products.CategoryID = Categories.CategoryID;

 * sqlite:///vbo.db
Done.

[(1, 'Beverages'),
 (1, 'Beverages'),
 (2, 'Condiments'),
 (2, 'Condiments'),
 (2, 'Condiments'),
 (2, 'Condiments'),
 (7, 'Produce'),
 (2, 'Condiments'),
 (6, 'Meat/Poultry'),
 (8, 'Seafood'),
 (4, 'Dairy Products'),
 (4, 'Dairy Products'),
 (8, 'Seafood'),
 (7, 'Produce'),
 (2, 'Condiments'),
 (3, 'Confections'),
 (6, 'Meat/Poultry'),
 (8, 'Seafood'),
 (3, 'Confections'),
 (3, 'Confections'),
 (3, 'Confections'),
 (5, 'Grains/Cereals'),
 (5, 'Grains/Cereals'),
 (1, 'Beverages'),
 (3, 'Confections'),
 (3, 'Confections'),
 (3, 'Confections'),
 (7, 'Produce'),
 (6, 'Meat/Poultry'),
 (8, 'Seafood'),
 (4, 'Dairy Products'),
 (4, 'Dairy Products'),
 (4, 'Dairy Products'),
 (1, 'Beverages'),
 (1, 'Beverages'),
 (8, 'Seafood'),
 (8, 'Seafood'),
 (1, 'Beverages'),
 (1, 'Beverages'),
 (8, 'Seafood'),
 (8, 'Seafood'),
 (5, 'Grains/Cereals'),
 (1, 'Beverages'),
 (2, 'Condiments'),
 (8, 'Seafood'),
 (8, 'Seafood'),
 (3, 'Confections'),
 (3, 'Confections'),
 (3, 'Confections'),
 (3, 'Confections'),
 (7, 'Produce'),
 (5, 'Grains/Cereals'),
 (6, 'Meat/Poultry'),
 (6, 'Meat/Poultry'),
 (6, 'Meat/Poultry'),
 (5, 'Grains/Cereals'),
 (5, 'Grains/Cereals'),
 (8, 'Seafood'),
 (4, 'Dairy Products'),
 (4, 'Dairy Products'),
 (2, 'Condiments'),
 (3, 'Confections'),
 (2, 'Condiments'),
 (5, 'Grains/Cereals'),
 (2, 'Condiments'),
 (2, 'Condiments'),
 (1, 'Beverages'),
 (3, 'Confections'),
 (4, 'Dairy Products'),
 (1, 'Beverages'),
 (4, 'Dairy Products'),
 (4, 'Dairy Products'),
 (8, 'Seafood'),
 (7, 'Produce'),
 (1, 'Beverages'),
 (1, 'Beverages'),
 (2, 'Condiments')]

**beverages ürün kategorisindeki ürünlerin fiyat ortalaması nedir?**

In [95]:
%sql select (sum(Price)/count(Price )) from Products left join Categories on Products.CategoryID = Categories.CategoryID where CategoryName in('Beverages');

 * sqlite:///vbo.db
Done.

[(42,)]

In [98]:
%sql select avg(Price) from Products left join Categories on Products.CategoryID = Categories.CategoryID where CategoryName in('Beverages');

 * sqlite:///vbo.db
Done.

[(42.75,)]

**USA'de yaşayan müşterilerin kazandırdığı toplam kazancı bulunuz.**

In [130]:
%sql select sum(Price),Country from Orders o LEFT JOIN OrderDetails od on o.OrderID = od.OrderID LEFT JOIN Products p on od.ProductID = p.ProductID left join Customers cu on o.CustomerID = cu.CustomerID where cu.Country = 'USA';

 * sqlite:///vbo.db
Done.

[(3762, 'USA')]

**Products tablosundaki CategoryID'lerin isimlerini bulunuz ve sonrasında kategori başına ortalama ürün fiyatını gösteriniz.**

In [109]:
%sql select avg(Price), CategoryName from Products left join  Categories on Products.CategoryID = Categories.CategoryID group by CategoryName;

 * sqlite:///vbo.db
Done.

[(42.75, 'Beverages'),
 (28.25, 'Condiments'),
 (33.76923076923077, 'Confections'),
 (74.9, 'Dairy Products'),
 (23.571428571428573, 'Grains/Cereals'),
 (55.166666666666664, 'Meat/Poultry'),
 (32.2, 'Produce'),
 (26.5, 'Seafood')]

**Çalışanları (EmployeeID) isimleri ile birlikte yaptıkları toplam satışlara göre sıralayınız.**

In [110]:
%sql select em.FirstName, sum(Price) toplam_satis from Orders o left join OrderDetails od on o.OrderID = od.OrderID left join Products p on od.ProductID = p.ProductID left join Employees em on o.EmployeeID = em.EmployeeID group by o.EmployeeID order by toplam_satis DESC;

 * sqlite:///vbo.db
Done.

[('Margaret', 5515),
 ('Nancy', 4353),
 ('Janet', 3048),
 ('Michael', 2981),
 ('Laura', 2380),
 ('Robert', 1852),
 ('Andrew', 1550),
 ('Steven', 1408),
 ('Anne', 520)]

**Germany'dan verilen siparişlerin kategorilerine göre ortalama fiyatları nelerdir?**

In [129]:
%sql select ca.CategoryName, AVG(Price) from Orders o left join OrderDetails od on o.OrderID = od.OrderID left join Products p on od.ProductID = p.ProductID left join Categories ca on p.CategoryID = ca.CategoryID left join Customers cu on o.CustomerID = cu.CustomerID where cu.Country = 'Germany' GROUP BY CategoryName;

 * sqlite:///vbo.db
Done.

[('Beverages', 20.5),
 ('Condiments', 34.0),
 ('Confections', 40.0),
 ('Dairy Products', 151.64705882352942),
 ('Grains/Cereals', 22.142857142857142),
 ('Meat/Poultry', 30.2),
 ('Produce', 30.75),
 ('Seafood', 27.09090909090909)]

**Almanya ya da USA'den verilen siparişlerin kategorilerine göre ortalama fiyatları nelerdir?**

In [127]:
%sql select ca.CategoryName, AVG(p.Price) from Orders o left join OrderDetails od on o.OrderID = od.OrderID left join Products p on od.ProductID = p.ProductID left join Categories ca on p.CategoryID = ca.CategoryID left join Customers cu on o.CustomerID = cu.CustomerID where cu.Country = 'Germany' GROUP BY CategoryName;

 * sqlite:///vbo.db
Done.

[('Beverages', 20.5),
 ('Condiments', 34.0),
 ('Confections', 40.0),
 ('Dairy Products', 151.64705882352942),
 ('Grains/Cereals', 22.142857142857142),
 ('Meat/Poultry', 30.2),
 ('Produce', 30.75),
 ('Seafood', 27.09090909090909)]

**Haziran Temmuz Ağustos aylarında verilen siparişlerin ortalama fiyatı nedir?**

In [126]:
%sql SELECT AVG(Products.Price) FROM Products left join OrderDetails on OrderDetails.ProductID = products.ProductID left join Orders on OrderDetails.OrderID = Orders.OrderID WHERE OrderDate like '%07%' or OrderDate like '%08%' or OrderDate like '%09%';

 * sqlite:///vbo.db
Done.

[(39.71891891891892,)]

**Müşterilerin 1997 yılına ait siparişlerinin maksimum miktarlarını bulup müşterilerin isimleri ile birlikte büyükten küçüğe sıralayınız.**

In [124]:
%sql select CustomerName, MAX(Price) maks from Products left join OrderDetails on Products.ProductID = OrderDetails.ProductID left join Orders on OrderDetails.OrderID = Orders.OrderID left join Customers on Customers.CustomerID = Orders.CustomerID where OrderDate like '%1997%' GROUP BY CustomerName ORDER BY maks DESC;

 * sqlite:///vbo.db
Done.

[('Gourmet Lanchonetes', 435),
 ('Simons bistro', 263),
 ('Mère Paillarde', 263),
 ('Save-a-lot Markets', 123),
 ('Eastern Connection', 123),
 ('Wellington Importadora', 97),
 ('Ernst Handel', 55),
 ('Bottom-Dollar Marketse', 55),
 ("La maison d'Asie", 49),
 ('Folies gourmandes', 49),
 ('Reggiani Caseifici', 45),
 ('Queen Cozinha', 45),
 ('Wartian Herkku', 43),
 ('Toms Spezialitäten', 43),
 ('Rattlesnake Canyon Grocery', 43),
 ('Que Delícia', 43),
 ('QUICK-Stop', 43),
 ('Old World Delicatessen', 43),
 ('Hungry Owl All-Night Grocers', 43),
 ('Hungry Coyote Import Store', 43),
 ('Familia Arquibaldo', 43),
 ('Princesa Isabel Vinhoss', 38),
 ('Galería del gastrónomo', 38),
 ('Blondel père et fils', 38),
 ('Richter Supermarkt', 36),
 ('Ottilies Käseladen', 36),
 ('Consolidated Holdings', 34),
 ('Split Rail Beer & Ale', 31),
 ('Magazzini Alimentari Riuniti', 31),
 ('Franchi S.p.A.', 31),
 ('Piccolo und mehr', 23),
 ('Océano Atlántico Ltda.', 23),
 ('Folk och fä HB', 21),
 ('LINO-Delicateses', 10)]